@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Neucha&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: auto;
    background: linear-gradient(90deg,#FFD600, #c4a12f);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 10rem;
    background-image: url("./banner.jpg");
    background-size: contain;
}



h1 {
    font-size: 5rem;
    text-shadow: 0 0 15px #000000;
    color: #FFD600;
    animation: title 1s infinite;
    font-family: "Madimi One", sans-serif;
}

@keyframes title{
    50% {
        text-shadow: 0 0 15px #FFD600;
        color: #000000;
    }
}

hr {
    width: 90%;
    margin: 1rem;
}

main{
    margin-top: 1rem;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finder-character{
    width: 30rem;
    height: 1rem;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: bisque;
    padding: 1rem;
    color: #fff;
    font-family: "Madimi One", sans-serif;
}

.container-cards{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card-character{
    width: 20rem;
    height: 10rem;
    background: linear-gradient(90deg,#ffffff, #53b5d5);
    border: groove 5px bisque ;
    margin: 1rem;
    display: flex;
}

.card-character > img{
    width: 50%;
    height: 100%;
}

.card-character > .description-card {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-card > h2{
    text-align: center;
    color:#000000;
    text-shadow: 0 0 15px #fff;
    margin-right: 3.1rem;
}

.description-card > p {
    font-size: 1.5rem;
    text-align: center;
    color: #676767;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

#btn-load-more {
    background-color: #FFD600;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 1.5rem;
}

#btn-load-more:hover {
    background-color: #FED330;
    color: #000000;
}


#direction-filter {
    margin-top: 1.5rem;
    font-family: "Madimi One", sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    border: 2px solid #FED330;
    border-radius: 5px;
    background-color: #559385;
    color: black; /* Texto blanco */
    cursor: pointer;
}


#direction-filter:hover {
    background-color: #e7cb19; 
    border-color: #000000; 
}
